.type {
  padding: 5px;
  background-color: lightblue;
  border: 1px solid black;
  width: max-content;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  
}

.type.alcoholic {
  background-color: rgba(255, 68, 0, 0.226);
  border: 1.75px solid rgba(255, 68, 0, 0.5);
}

.type.non-alcoholic {
  background-color: rgba(2, 134, 31, 0.404);
  border: 1.75px solid rgba(0, 211, 0, 0.76);
}

.content{

    &__type.alcoholic{

    }
}
