.cocktail {
  display: flex;
  border-radius: 12px;
  background: #e0e4eb;
  box-shadow: -10px -10px 15px #edeff1, 10px 10px 15px #cacfd8;
  margin: 35px;

  &__content {
    margin-left: 20px;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
  }
}

.cocktail__image {
  border-radius: 12px 0px 0px 12px;
  width: 125px;
  height: auto;
}
