.cocktail {
  display: flex;
  border-radius: 12px;
  background: #e0e4eb;
  box-shadow: -10px -10px 15px #edeff1, 10px 10px 15px #cacfd8;
  margin: 35px;

  &__container {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }

  &__name {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
  }

  a {
    color: rgb(62, 88, 105);
    text-decoration: none;
  }
}

.cocktail__image {
  border-radius: 12px 0px 0px 12px;
  width: 125px;
  height: auto;
}
